@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply max-h-screen;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white;
  }
}

/* Add this to your index.css or where you define global styles */
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
}
